<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="LogToFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log"
                     append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="P7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="src.main.java" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>